<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>就业预测系统</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <script th:src="@{/layui/layui.all.js}" charset="utf-8"></script>
    <script th:src="@{/js/jquery.js}" charset="utf-8"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header layui-bg-green">
        <div class="layui-logo" style="font-size: 20px; color: white;">就业预测系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav  layui-layout-left">
            <li class="layui-nav-item"><a href="/index">控制台</a></li>
            <li class="layui-nav-item"><a href="/course">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item"><a href="javascript:">其它系统</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">邮件管理</a>
                    </dd>
                    <dd>
                        <a href="">消息管理</a>
                    </dd>
                    <dd>
                        <a href="">授权管理</a>
                    </dd>
                </dl></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="javascript:"> aaa 贤心 </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">基本资料</a>
                    </dd>
                    <dd>
                        <a href="">安全设置</a>
                    </dd>
                </dl></li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>
    <!--    <div class="demoTable">
            搜索ID：
            <div class="layui-inline">
                <input class="layui-input" name="id" id="demoReload" autocomplete="off">
            </div>
            <button class="layui-btn" data-type="reload">搜索</button>
        </div>-->
    <script type="text/html" id="toolbarDemo">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <select name="quiz1" style="height: 20px">
                    <option value="" selected disabled>专业</option>
                    <option value="计算机科学与技术">计算机科学与技术</option>
                    <option value="会计">会计</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="quiz2" style="height: 20px">
                    <option value="" selected disabled>学期</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <input class="layui-input" name="stuid" id="demoReload" placeholder="学号" autocomplete="off">
            </div>
            <button class="layui-btn" data-type="reload" id="search">搜索</button>
        </div>
    </script>
    <table id="test" class="layui-hide" lay-filter="test"></table>
    <script th:inline="javascript">
        layui.use(['table', 'jquery'], function () {
            var table = layui.table;
            var localTest = layui.sessionData('test1');
            var localHeaders = localTest.tableHeaders;
            var tableHeaders = [];
            //表格渲染
            table.render({
                elem: '#test'
                , height: 625
                //, skin: 'line' //行边框风格
                , even: true //开启隔行背景
                , size: 'sm' //小尺寸的表格
                , url: '/s' //数据接口
                , page: true //开启分页
                , toolbar: '#toolbarDemo'//顶部工具栏
                //, totalRow: true //合计
                //, loading: true
                , limit: 15 //每页限制
                // , method: 'post'
                , response: {
                    statusName: 'code' //规定数据状态的字段名称，默认：code
                    , statusCode: 0 //规定成功的状态码，默认：0
                    , countName: 'count' //规定数据总数的字段名称，默认：count
                    , dataName: 'data' //规定数据列表的字段名称，默认：data
                }
                , parseData: function (res) { //res 即为原始返回的数据
                    //写入课程名
                    var courses = res.data.courses;
                    for (var i = 2; i < courses.length + 2; i++) {
                        tableHeaders[i] = {
                            field: 'course' + (i - 1),
                            title: courses[i - 2],
                            align: 'center',
                            width: '120',
                            sort: true,
                            totalRow: true
                        };
                    }
                    tableHeaders[0] = {type: 'checkbox', fixed: 'left'};
                    tableHeaders[1] = {
                        field: 'stuid', title: '学号',totalRowText: '合计',
                        align: 'center', width: '120', sort: true
                    };
                    /*table.init('test', {
                       cols: [tableHeaders]
                       //, data: res.data.stuList
                       //, limit: 10
                   });*/
                    layui.sessionData('test1', {
                        key: 'tableHeaders'
                        , value: tableHeaders
                    });
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.msg, //解析提示文本
                        "count": res.count, //解析数据长度
                        "data": res.data.stuList //解析数据列表
                    };
                }
                , cols: [
                    localHeaders
                ]
                , done: function (res, curr, count) {
                    /*                 console.log(tableHeaders);
                                     table.init('test', {
                                         cols: [tableHeaders]
                                         /!*, data: datas
                                         , limit: 10*!/
                                     });*/
                }
            });

            //监听事件
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'add':
                        layer.msg('添加');
                        break;
                    case 'delete':
                        layer.msg('删除');
                        break;
                    case 'update':
                        layer.msg('编辑');
                        break;
                }
            });

            //表格重载
            var $ = layui.$, active = {
                reload: function(){
                    var demoReload = $('#demoReload');

                    //执行重载
                    table.reload('testReload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        ,where: {
                            key: {
                                id: demoReload.val()
                            }
                        }
                    });
                }
            };

            $('#search').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
    </script>
</div>

<script>
    //JavaScript代码区域
    layui.use('element', function() {
        var element = layui.element;
    });
</script>
</body>
</html>
