<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>毕业预测系统</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/js/jquery331.js}" charset="utf-8"></script>
    <script th:src="@{/js/jquerycookie.js}" charset="utf-8"></script>
    <script th:src="@{/js/zooming.js}" charset="utf-8"></script>
    <!-- 引入 ECharts 文件 -->
    <script th:src="@{/js/echarts.js}" charset="utf-8"></script>
    <style>
        .grid1 {
            column-count: 2;
            column-gap: 1rem;
        }

        .mycode {
            width: 100%;
            height: 100%;
            float: left;
            margin-left: 250px;
            margin-top: -20px;
        }

        .mycode ul {
            width: 100%;
        }

        .mycode li {
            width: 500px;
            height: 50%;
            float: left;
            display: block;
        }

        figure {
            display: inline-block;
            margin: 0 0 0 0;
            width: 100%;
        }

        img {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header layui-bg-green">
        <div class="layui-logo" style="font-size: 20px; color: white;">毕业预测系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav  layui-layout-left">
            <li class="layui-nav-item"><a href="/index">成绩展示</a></li>
            <li class="layui-nav-item"><a href="javascript:">成绩分析</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="/analyse?maj=0">计科</a>
                    </dd>
                    <dd>
                        <a href="/analyse?maj=1">会计</a>
                    </dd>
                    <dd>
                        <a href="/analyse?maj=2">计科和会计</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:">毕业预测</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="/predict?maj=0">计科</a>
                    </dd>
                    <dd>
                        <a href="/predict?maj=1">会计</a>
                    </dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="javascript:"> Rookied </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">基本资料</a>
                    </dd>
                    <dd>
                        <a href="">安全设置</a>
                    </dd>
                </dl>
            </li>
            <!--<li class="layui-nav-item"><a href="">注销</a></li>-->
        </ul>
    </div>
</div>
    <!--    <div class="demoTable">
            搜索ID：
            <div class="layui-inline">
                <input class="layui-input" name="id" id="demoReload" autocomplete="off">
            </div>
            <button class="layui-btn" data-type="reload">搜索</button>
        </div>-->
    <table id="test" class="layui-hide" lay-filter="test"></table>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <select name="quiz1" style="height: 20px" id="cmaj">
                    <option value="" selected disabled>专业</option>
                    <option value="计算机科学与技术">计算机科学与技术</option>
                    <option value="会计">会计</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="quiz2" style="height: 20px" id="cterm">
                    <option value="" selected disabled>学期</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="主要课程">主要课程</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <input class="layui-input" name="stuid" id="stuid" placeholder="学号" autocomplete="off">
            </div>
            <button class="layui-btn" data-type="reload" id="search">搜索</button>
        </div>
    </script>
    <script th:inline="javascript">
        var tableHeaders = [];
        var courses = [];
        var cterm = $.cookie('cterm');
        var cmaj = $.cookie('cmaj');
        var stuid = $.cookie('stuid');
        $(function () {
            $.ajax({
                url: "/course"
                , data: {
                    'cmaj': cmaj
                    , 'cterm': cterm
                }
                , dataType: "json"
                , type: "get"
                , success: function (result) {
                    //获得专业课程
                    courses = result.data;
                    for (var i = 2; i < courses.length + 2; i++) {
                        tableHeaders[i] = {
                            field: 'course' + (i - 1),
                            title: courses[i - 2],
                            align: 'center',
                            width: '120',
                            sort: true,
                            totalRow: true
                        };
                    }
                    tableHeaders[0] = {type: 'checkbox', fixed: 'left'};
                    tableHeaders[1] = {
                        field: 'stuid', title: '学号', totalRowText: '合计',
                        align: 'center', width: '120', sort: true
                    };
                }
            });
        });
        layui.use(['table'], function () {
            var table = layui.table;
            //表格渲染
            table.render({
                elem: '#test'
                , height: 625
                //, skin: 'line' //行边框风格
                , even: true //开启隔行背景
                , size: 'sm' //小尺寸的表格
                , url: '/s' //数据接口
                ,where: {
                    'stuid': stuid,
                    'cmaj': cmaj,
                    'cterm': cterm
                }
                , page: true //开启分页
                , toolbar: '#toolbarDemo'//顶部工具栏
                , id: 'tableReload'
                //, totalRow: true //合计
                //, loading: true
                , limit: 15 //每页限制
                // , method: 'post'
                , response: {
                    statusName: 'code' //规定数据状态的字段名称，默认：code
                    , statusCode: 0 //规定成功的状态码，默认：0
                    , countName: 'count' //规定数据总数的字段名称，默认：count
                    , dataName: 'data' //规定数据列表的字段名称，默认：data
                }
                , parseData: function (res) { //res 即为原始返回的数据
                    //写入课程名
                    //var courses = res.data.courses;
                    /*table.init('test', {
                       cols: [tableHeaders]
                       //, data: res.data.stuList
                       //, limit: 10
                   });*/
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.msg, //解析提示文本
                        "count": res.count, //解析数据长度
                        "data": res.data.stuList //解析数据列表
                    };
                }
                , cols: [
                    tableHeaders
                ]
                , done: function (res, curr, count) {
                    //console.log(tableHeaders);
                    //this.cols = [tableHeaders];
                    //window.location.reload();
                    //console.log(this.cols);
                    /*table.init('test', {
                        cols: [tableHeaders]
                        , data: res.data
                        //, limit: 10
                     });*/
                }
            });

            //监听事件
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'add':
                        layer.msg('添加');
                        break;
                    case 'delete':
                        layer.msg('删除');
                        break;
                    case 'update':
                        layer.msg('编辑');
                        break;
                }
            });

            //表格重载
            var active = {
                reload: function(){
                    var stuid = $('#stuid').val();
                    var cmaj = $('select#cmaj option:selected').val();
                    var cterm = $('select#cterm option:selected').val();
                    $.cookie('cmaj', cmaj);
                    $.cookie('cterm', cterm);
                    tableHeaders = [];
                    $.ajax({
                        url: "/course"
                        , data: {
                            'cmaj': cmaj
                            , 'cterm': cterm
                        }
                        , dataType: "json"
                        , type: "get"
                        , success: function (result) {
                            //获得专业课程
                            courses = result.data;
                            $.cookie('cterm', result.cterm);
                            $.cookie('cmaj', result.cmaj);
                            for (var i = 2; i < courses.length + 2; i++) {
                                tableHeaders[i] = {
                                    field: 'course' + (i - 1),
                                    title: courses[i - 2],
                                    align: 'center',
                                    width: '120',
                                    sort: true,
                                    totalRow: true
                                };
                            }
                            tableHeaders[0] = {type: 'checkbox', fixed: 'left'};
                            tableHeaders[1] = {
                                field: 'stuid', title: '学号', totalRowText: '合计',
                                align: 'center', width: '120', sort: true
                            };
                        }
                    });
/*                    $.ajax({
                        url: "/s"
                        , data: {
                            'page': 1
                            ,'limit': 15
                            ,'stuid': stuid
                            , 'cmaj': cmaj
                            , 'cterm': cterm
                        }
                        , dataType: "json"
                        , type: "get"
                        , success: function (result) {
                            window.location.reload();
                        }
                    });*/

                    //执行重载
                    console.log(cmaj);
                    table.reload('tableReload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , cols: [
                            tableHeaders
                        ]
                        ,where: {
                            'stuid': stuid,
                            'cmaj': cmaj,
                            'cterm': cterm
                        }
                    });
                    //window.location.reload();
                }
            };

            $('#search').on('click', function(){
                var type = $(this).data('type');
                var stuid = $('#stuid').val();
                var cmaj = $('select#cmaj option:selected').val();
                var cterm = $('select#cterm option:selected').val();
                active[type] ? active[type].call(this) : '';
                window.location.reload();
            });
        });
    </script>
</div>

<script>
    //JavaScript代码区域
    layui.use('element', function() {
        var element = layui.element;

    });
</script>
</body>
</html>
