<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.rookied.student.mapper.CourseMapper">

    <!-- 查询所有 -->
    <select id="findAll" resultType="com.rookied.student.bean.Course">
        SELECT * FROM course
    </select>

    <!-- 根据ID查询 -->
    <select id="findById" resultType="com.rookied.student.bean.Course" parameterType="Long">
        SELECT * FROM course WHERE id = #{id}
    </select>

    <!-- 创建 -->
    <insert id="create" parameterType="com.rookied.student.bean.Course">
        INSERT INTO course(cid, cname, cterm, cmaj) VALUES (#{cId}, #{cName}, #{cTerm}, #{cMaj})
    </insert>

    <!-- 删除 -->
    <delete id="delete" parameterType="int">
        DELETE FROM course WHERE id = #{id}
    </delete>

    <!-- 更新 -->
    <update id="update" parameterType="com.rookied.student.bean.Course">
        UPDATE course SET WHERE 1=1
        <if test="username != null">
            username = #{username},
        </if>
        <if test="password != null">
            password = #{password}
        </if>
        WHERE id = #{id}
    </update>

    <!-- 根据用户名查询 -->
    <select id="findByName" parameterType="String" resultType="com.rookied.student.bean.Course">
        SELECT * FROM course WHERE username = #{username}
    </select>
</mapper>
