<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.rookied.student.mapper.CourseMapper">
    <resultMap id="scoreResult" type="com.rookied.student.bean.Course">
        <id property="cid" column="cid"/>
        <result property="cterm" column="cterm"/>
        <result property="cname" column="cname"/>
        <result property="cmaj" column="cmaj"/>
        <collection property="cscores" ofType="com.rookied.student.bean.Score">
            <id property="sid" column="sid"/>
            <result property="stuId" column="stu_id"/>
            <result property="cid" column="cid"/>
            <result property="score" column="score"/>
        </collection>
    </resultMap>

    <!-- 查询所有 -->
    <select id="findAll" resultType="com.rookied.student.bean.Course">
        SELECT * FROM course
    </select>

    <select id="findCourseAndScore" resultMap="scoreResult">
        SELECT
            c.cid,
            c.cname,
            c.cmaj,
            c.cterm,
            s.sid,
            s.stu_id,
            s.score
        FROM course c,score s
        WHERE c.cid = s.cid
    </select>

    <!-- 根据ID查询 -->
    <select id="findById" resultType="com.rookied.student.bean.Course" parameterType="Long">
        SELECT * FROM course WHERE id = #{id}
    </select>

    <!-- 创建 -->
    <insert id="create" parameterType="com.rookied.student.bean.Course">
        INSERT INTO course(cid, cname, cterm, cmaj) VALUES (#{cId}, #{cName}, #{cTerm}, #{cMaj})
    </insert>

    <!-- 删除 -->
    <delete id="delete" parameterType="int">
        DELETE FROM course WHERE id = #{id}
    </delete>

    <!-- 更新 -->
    <update id="update" parameterType="com.rookied.student.bean.Course">
        UPDATE course SET WHERE 1=1
        <if test="username != null">
            username = #{username},
        </if>
        <if test="password != null">
            password = #{password}
        </if>
        WHERE id = #{id}
    </update>

    <!-- 根据用户名查询 -->
    <select id="findByName" parameterType="String" resultType="com.rookied.student.bean.Course">
        SELECT * FROM course WHERE username = #{username}
    </select>
</mapper>
