<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.rookied.student.mapper.StudentMapper">

    <!-- 查询所有 -->
    <select id="findAll" resultType="com.rookied.student.bean.Student">
        SELECT * FROM student
    </select>

    <!-- 根据ID查询 -->
    <select id="findById" resultType="com.rookied.student.bean.Student" parameterType="Long">
        SELECT * FROM student WHERE id = #{id}
    </select>

    <!-- 创建 -->
    <insert id="create" parameterType="com.rookied.student.bean.Student">
        INSERT INTO student(stu_id, stu_sex, stu_maj) VALUES (#{stuId}, #{stuSex}, #{stuMaj})
    </insert>

    <!-- 删除 -->
    <delete id="delete" parameterType="int">
        DELETE FROM student WHERE id = #{id}
    </delete>

    <!-- 更新 -->
    <update id="update" parameterType="com.rookied.student.bean.Student">
        UPDATE student SET WHERE 1=1
        <if test="username != null">
            username = #{username},
        </if>
        <if test="password != null">
            password = #{password}
        </if>
        WHERE id = #{id}
    </update>

    <!-- 根据用户名查询 -->
    <select id="findByName" parameterType="String" resultType="com.rookied.student.bean.Student">
        SELECT * FROM student WHERE username = #{username}
    </select>

    <resultMap id="scoreResult" type="com.rookied.student.bean.Student">
        <id property="stuId" column="stu_id"/>
        <result property="stuSex" column="stu_sex"/>
        <result property="stuMaj" column="stu_maj"/>
        <collection property="scores" ofType="com.rookied.student.bean.Score">
            <id property="sid" column="sid"/>
            <result property="stuId" column="stu_id"/>
            <result property="score" column="score"/>
            <result property="cid" column="cid"/>
        </collection>
        <!--<collection property="pageBeans" ofType="com.rookied.student.bean.PageBean">
            <id property="sid" column="sid"/>
            <result property="stuId" column="stu_id"/>
            <result property="stuSex" column="stu_sex"/>
            <result property="cname" column="cname"/>
            <result property="score" column="score"/>
            <result property="cterm" column="cterm"/>
            <result property="stuMaj" column="stu_maj"/>
        </collection>-->
    </resultMap>

    <!-- 查询所有 -->
    <select id="findAllScore" resultMap="scoreResult">
        SELECT
        a.stu_id,
        a.stu_sex,
        c.cname,
        b.score,
        c.cterm,
        a.stu_maj,
        b.sid,
        b.cid
        FROM student a,course c,score b
        WHERE a.stu_id = b.stu_id
        AND b.cid = c.cid
        AND a.stu_maj=c.cmaj
        <if test="stuId != '' and stuId != null">
            AND a.stu_id = #{stuId}
        </if>
        <if test="cterm != 0 and cterm != null">
            AND c.cterm = #{cterm}
        </if>
        <if test="stuMaj != '' and stuMaj != null">
            AND a.stu_maj = #{stuMaj}
        </if>

    </select>


</mapper>
