<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.rookied.student.mapper.StudentMapper">

    <!-- 查询所有 -->
    <select id="findAll" resultType="com.rookied.student.bean.Student">
        SELECT * FROM student
    </select>

    <!-- 根据ID查询 -->
    <select id="findById" resultType="com.rookied.student.bean.Student" parameterType="Long">
        SELECT * FROM student WHERE id = #{id}
    </select>

    <!-- 创建 -->
    <insert id="create" parameterType="com.rookied.student.bean.Student">
        INSERT INTO student(stu_id, stu_sex, stu_maj) VALUES (#{stuId}, #{stuSex}, #{stuMaj})
    </insert>

    <!-- 删除 -->
    <delete id="delete" parameterType="int">
        DELETE FROM student WHERE id = #{id}
    </delete>

    <!-- 更新 -->
    <update id="update" parameterType="com.rookied.student.bean.Student">
        UPDATE student SET WHERE 1=1
        <if test="username != null">
            username = #{username},
        </if>
        <if test="password != null">
            password = #{password}
        </if>
        WHERE id = #{id}
    </update>

    <!-- 根据用户名查询 -->
    <select id="findByName" parameterType="String" resultType="com.rookied.student.bean.Student">
        SELECT * FROM student WHERE username = #{username}
    </select>
</mapper>
